
@{
    ViewBag.Title = "Dijital Pazarlama ve SEO";
    ViewBag.Description = "Seo Hizmeti , Google Reklamları , Instagram ve Sosyal Medya Reklamları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="titlepage">

                    <span>
                        <img src="~/images/dijitalpazarlama.png" alt="dijtal pazarlama" style="width:100%!important;" />
                    </span>
                    <br />
                    <p>
                        Pazarlama ne kadar önemli bir konuysa, dijital pazarlama da o kadar önem gösterilmesi gereken bir alandır. Reklam çalışmaları, Google ve sosyal medya reklamları, arama motoru optimizasyonları ile zirvede yer almak için dijital pazarlama tercih edebilirsiniz!
                    </p>


                </div>
            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    SEO Hizmeti
                </h1>

                <p>SEO kelimesi, Search Engine Optimization ifadesinin baş harflerinden oluşmaktadır. Türkçe karşılığı, arama motoru optimizasyonu olarak ifade edilmektedir.</p>

                <br />
                <p>Bu tanım size karmaşık mı geldi? Gelin şöyle örnekleyelim;</p>
                <p>Bir mağazanız olduğunu düşünün, bu mağazanın en işlek caddede olmasını istemez miydiniz? İşte bu en işlek cadde arama motorlarının üst sayfalarıdır! Arte Dijital tarafından verilen hizmetlerde üst sıralara çıkarak caddenin en güzel yerinde yerinizi alın!</p>
                <br />
            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Google Reklam Hizmeti
                </h1>

                <p>Google reklam hizmetleri ile kısa sürede üst sayfalara çıkabilirsiniz. Google reklamları size markanızı hızlı ve kolay tanıtmanızı, kısa zamanda üst sıralarda çıkmayı, iş potansiyelinde artış sağlamanızı ve bunun gibi bir çok avantajı beraberinde getirecektir.</p>
                <br />
                <p>Arte Dijtail Google reklamlarında en iyi kriterleri belirleyerek reklamlardan en iyi sonuçları almanızı sağlıyor!</p>

                <br />

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Sosyam Medya Reklamları
                </h1>

                <p>Sosyal medya reklamları çok fazla kişiye ulaşabilirsiniz. Sosyal medya üzerinden yapılan reklamların etkisi göz ardı edilemez. Bizimle çalışarak sosyal medya reklam planlaması gerçekleştirebilirsiniz.</p>
                <br />

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Dijital Pazarlama Fiyatlandırma
                </h1>
                <p>Profesyonel ekibimiz tarafından verilen bütün hizmetlerle ilgili bizimle iletişime geçerek fiyat öğrenebilirsiniz.</p>

                @{Html.RenderAction("hizmetiletisim", "Partial");}

            </div>
        </div>
    </div>

