
@{
    ViewBag.Title = "Fotoğraf Çekimi";
    ViewBag.Description = "Kurumsal Fotoğraf Çekimleri, Organizasyon Fotoğraf Çekimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="titlepage">

                    <span>
                        <img src="~/images/fotografcekimi.png" alt="Fotoğraf Çekimi Arte Dijital" style="width:100%!important;" />
                    </span>
                    <br />



                </div>
            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Kurumsal Çekimler
                </h1>
                <p>Şirketinizi temsil eden yöneticilerin, işleyişinizi yansıtan iç ve dış çekimlerin, marka mimarisi ve kimlik yaratmaya yönelik çekimlerin her biri kurumsal çekimler olarak kabul edilmektedir.</p>
                <br />
                <p>Kurumsal kimliğin güçlü ve net bir şekilde yansıtılması için profesyonel bir ekip tarafından profesyonel ekipmanlar kullanılarak çekim yapılması ve bunların uygun rötuşlar vasıtasıyla istenilen şekilde mükemmelleştirilmesi amaçlanır.</p>
                <br />

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Özel Çekimler
                </h1>
                <p>Bireysel ve toplu olarak yapılacak sizin ihtiyaçlarınıza ve isteklerinize göre düzenlenmiş çekim türleridir. Aile Portreleri, bireysel portreler v.b. özelleştirilmiş fotoğraf çekimleri, sizin yönlendirmeniz ve profesyonel ekibin tavsiyeleri ile şekillenerek istenen sonuca ulaşılır.</p>

                <br />

            </div>
        </div>

        

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Etkinlik
                </h1>
                <p>Kongre, konferans, forum, fuar vb. etkinliklerde profesyonel ekip ile etkinliğin bütün yönlerinin her açıdan çekimi, çekilen fotoğrafların uygun rötuşlar ile sunuma hazırlanması ve etkinliği tanıtımda kullanılabilir hali alması amaçlanır.</p>

                <br />

            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Konsept
                </h1>
                <p>Yaşam tarzı, ürün, mimari, tasarım vb. çekimlerinde konsepte bağlı olarak dikkat çekilmek istenen noktalara yönelip, bilinç ve bilinç altı düzeyinde göreni etkileyecek çekimlerin yapılması amaçlanır.</p>
                <br />
                <p>Şirketinize veya size ait bir ürünün istediğiniz şekilde tanıtılması için tercih edilen çekim şeklidir. Konsept çekimlerinde renk psikolojisi gibi konular göz önünde bulundurularak çekim.</p>
            <br />
            
            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Fotoğraf Çekimi Fiyatlandırma
                </h1>
                <p>Profesyonel ekibimiz tarafından verilen bütün hizmetlerle ilgili bizimle iletişime geçerek fiyat öğrenebilirsiniz.</p>

                @{Html.RenderAction("hizmetiletisim", "Partial");}

            </div>
        </div>
    </div>


