
@{
    ViewBag.Title = "Ip Tabanlı Cihazlar";
    ViewBag.Description = "Ip cihaz kurulumu, Daha iyi internet, Kamera Kurulumu, Access Point Kurulumu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="titlepage">

                    <span>
                        <img src="~/images/iptabanli.png" alt="Ip Cihazlar Arte dijital" style="width:100%!important;" />
                    </span>
                    <br />
                    <p>
                        Ofisiniz içersindeki bütün ip cihazların bir arada kusursuz çalışması ve internet hızının etkilenmemesi için gerekli ayarlar ve işlemleri yapıyoruz.
                    </p>


                </div>
            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Kamera Kurulumu
                </h1>

                <p>Ofis içersinde kullandığınız güvenlik kameralarının kurulumlarını ve testlerini gerçekletiriyoruz.</p>

                <br />

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Access Point Kurulumu
                </h1>

                <p>Ofisin heryerinde internet erişimi olması için access point ve router kurulumları yapıyoruz.</p>

                <br />

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Ip Tabanlı Cihazlar Fiyatlandırma
                </h1>
                <p>Profesyonel ekibimiz tarafından verilen bütün hizmetlerle ilgili bizimle iletişime geçerek fiyat öğrenebilirsiniz.</p>

                @{Html.RenderAction("hizmetiletisim", "Partial");}

            </div>
        </div>
    </div>

