
@{
    ViewBag.Title = "Projelerimiz";
    ViewBag.Description = "Arte Dijital Satışa Sunulan Hazır Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="blog" class="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>PROJELERİMİZ</h2>
                        <p>Satışa sunulan hazır projelerimiz çok yakında burada...</p>
                    </div>
                </div>
            </div>
            @*<div class="row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="blog-box">
                        <figure>
                            <img src="~/images/suitso.png" alt="Çocuk Yazını Referans" />
                            <span>Suitso Yazılım</span>
                        </figure>
                        <div class="travel">
                            <a href="http://www.suitso.net/" target="_blank"><span>suitso.net</span></a>


                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="blog-box">
                        <figure>
                            <img src="~/images/krekpot.png" alt="Liv Danışmanlık Referans" />
                            <span>Krekpot Bilgi Teknolojileri</span>
                        </figure>
                        <div class="travel">
                            <a href="https://www.krekpot.com/" target="_blank"><span>krekpot.com</span></a>


                        </div>
                    </div>
                </div>




            </div>*@
        </div>
    </div>


