
@{
    ViewBag.Title = "Simultane Çeviri";
    ViewBag.Description = " Simultane Çeviri - İngilizce, İspanyolca, Almanca, Fransızca, Arapça";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="titlepage">

                <span>
                    <img src="~/images/simultaneceviri.png" alt="Simultane Çeviri" style="width:100%!important;" />
                </span>
                <br />
                <p>Simultane çeviri, uluslararası Konferans, Kongre, Sempozyum, Seminer gibi etkinliklerde veya diplomatik toplantılar, görüşmeler, televizyon ve internet üzerinden yayınlar ile dinleyicilerin uluslararası bir kitleye sahip olduğu alanlarda uzman tercümanın konuşmacı ile eş zamanlı olarak, yaptığı konuşmayı farklı bir dile tercümesine denir.</p>



            </div>
        </div>
    </div>


    <div class="row bg-light mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h1 class="mt-3">
            ‘de Simultane Çeviri</h1>
            <p>Art’e Dijital Simultane Tercümeleri kaynak ve hedef dilleri anadil seviyesinde bilen, kültürlerine ve konuşulan konunun terim ve tabirlerine hakim uzman tercümanlar tarafından yapılır. Arte Dijital olarak biz simultane çevirinin doğası gereği aynı anda iki iş (Dinleme ve Konuşma) yapabilme kabiliyeti isteyen, bilgi birikimi yanında ayrı da yetenek isteyen bir çeviri türü olduğunun bilinciyle, alanından uzmanlaşmış deneyimli tercüman ekibimiz ile bu hizmeti vermekteyiz.</p>
            <br />
        </div>
    </div>

    <div class="row bg-light mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h1 class="mt-3">Simultane Çeviri Yaptığımız Diller</h1>
            <table width="100%">
                <tr>
                    <td><h6 class="text-info"><b>İngilizce</b></h6></td>
                    <td><h6 class="text-info"><b>Almanca</b></h6></td>
                    <td><h6 class="text-info"><b>İspanyolca</b></h6></td>
                    <td><h6 class="text-info"><b>Fransızca</b></h6></td>
                    <td><h6 class="text-info"><b>Arapça</b></h6></td>
                </tr>
            </table>
            <br />
        </div>
    </div>

    <div class="row bg-light mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h1 class="mt-3">Simultane Çeviride Fiyatlandırma</h1>
            <p>Profesyonel ekibimiz tarafından verilen bütün hizmetlerle ilgili bizimle iletişime geçerek fiyat öğrenebilirsiniz.</p>

            @{Html.RenderAction("hizmetiletisim", "Partial");}

        </div>
    </div>
</div>

