
@{
    ViewBag.Title = "Web Sitesi Çeviri";
    ViewBag.Description = " Web Sitesi Çeviri - İngilizce, İspanyolca, Almanca, Fransızca, Arapça";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="titlepage">

                <span>
                    <img src="~/images/websiteceviris.png" alt="Web Sitesi Çeviri" style="width:100%!important;" />
                </span>
                <br />
                <p>Günümüz internet çağında web sitesi kurumsal ve şahsi kimliğinizin en önemli temsillerinden biri olmuştur. Bu temsilin de olabildiğince geniş bir kitleye yansıtılması birçok iş insanı tarafından önem görmektedir.</p>
                <br />
                <p>Çalışmak istediğiniz uluslararası firmanın şahsi web siteniz üzerinden sizi tanıması, yeni kurduğunuz veya dijital ortama yeni geçirdiğiniz uluslararası şirketinizin yurt dışından potansiyel müşterilerinizi bilgilendirmesi ve onların dikkatini çekmesi gibi birçok sebeple web sitenizi birden çok dilde sunmanız rakiplerinize karşı sizi bir adım öne çıkaracaktır.</p>
                <br />
                <p>Siz de uluslararası bir kitleye hitap ediyor veya etmeyi planlıyorsanız web sitenizin de hitap ettiğiniz kitlelerin diline çevrilmesi birinci önceliktir. Lakin bazı web tarayıcıları ve eklentiler otomatik online çeviri hizmetleri ile bulunduğunuz sitelerin çevirisini yapabilse de çoğu zaman bilgi kaybı ve hatalar ciddi boyutları bulmaktadır.</p>
            </div>
        </div>
    </div>
    <div class="row bg-light mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h1 class="mt-3">Web Site Çeviri Hizmetleri</h1>
            <p>
                Arte Dijital olarak web sitenizin hızlı ve doğru bir şekilde çevirisini yapacak uzman tercüman kadromuzla hizmetinize hazırız. Siz de alanına hâkim, deneyimli ve profesyonel tercümanlar aracılığıyla web sitenizi ulusal veya yerelden öteye geçirmek ve rakiplerinizin bir adım önüne geçmek istiyorsanız hemen bizimle iletişime geçin!
            </p>

            <br />
        </div>
    </div>

    <div class="row bg-light mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h1 class="mt-3">Web Sitesi Çevirisi Yaptığımız Diller</h1>
            <table width="100%">
                <tr>
                    <td><h6 class="text-info"><b>İngilizce</b></h6></td>
                    <td><h6 class="text-info"><b>Almanca</b></h6></td>
                    <td><h6 class="text-info"><b>İspanyolca</b></h6></td>
                    <td><h6 class="text-info"><b>Fransızca</b></h6></td>
                    <td><h6 class="text-info"><b>Arapça</b></h6></td>
                </tr>
            </table>
            <br />
        </div>
    </div>

    <div class="row bg-light mt-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h1 class="mt-3">Web Sitesi Çevirisi Fiyatlandırma</h1>
            <p>Profesyonel ekibimiz tarafından verilen bütün hizmetlerle ilgili bizimle iletişime geçerek fiyat öğrenebilirsiniz.</p>

            @{Html.RenderAction("hizmetiletisim", "Partial");}

        </div>
    </div>
</div>

