
@{
    ViewBag.Title = "Web Yazılım";
    ViewBag.Description = "CRM, ERP, Stok Takip , Web Yazılım, .net MVC , php ,Mssql";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="titlepage">

                    <span>
                        <img src="~/images/webyazilim.png" alt="Web Yazılım" style="width:100%!important;" />
                    </span>
                    <br />
                    <p>
                        Web yazılım, web sitelerine nitelik katmak için kullanılan yazılımlardır, bu yazılımlar sayesinde web sitesi bir kişinin düzenlenmesine ihtiyaç duymadan kendini düzenleyebilir.
                    </p>



                </div>
            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Kurumsal Web Yazılımları
                </h1>
                <p>Kurumsal web yazılımlarında başlıca CRM ve ERP yazılımları gelmektedir. Bu yazılımların yanı sıra Arte Dijital'de ihtiyacınıza göre kurumsal yazılımlar yapılmaktadır.</p>
                <br />
            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    CRM Yazılımları

                </h1>
                <p>
                    Crm yazılımları Müşteri ilişkileri yönetimi, bir şirketin mevcut ve potansiyel müşterilerle etkileşimini yönetmek için bir yaklaşımdır.
                </p>
                <br />

                <h1 class="mt-3">
                    Erp Yazılımları


                </h1>
                <p>
                    Kurumsal kaynak planlaması ya da işletme kaynak planlaması, işletmelerde mal ve hizmet üretimi için gereken işgücü, makine, malzeme gibi kaynakların verimli bir şekilde kullanılmasını sağlayan bütünleşik yönetim sistemlerine verilen genel addır.

                </p>
                <br />
            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Arte Dijital’de Web Yazılım

                </h1>

                <p>
                    Arte dijital ihtiyacınıza göre olan web yazılımı size sunmak için uzman yazılımcılarla çalışmaktadır. Arte dijital belirlenen ihtiyaç doğrultusunda verilen projeyi en ince ayrıntısına kadar inceleyerek güvenli, hızlı ve iş yükünü azaltacak şekilde tamamlar. Kurumsal yazılımlarda alacağınız raporlar ile rakiplerinizin önüne geçeceksiniz.
                </p>
                <br />
            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                <h1 class="mt-3">
                    Web Yazılımda Fiyatlandırma
                </h1>
                <p>Profesyonel ekibimiz tarafından verilen bütün hizmetlerle ilgili bizimle iletişime geçerek fiyat öğrenebilirsiniz.</p>

                @{Html.RenderAction("hizmetiletisim", "Partial");}

            </div>
        </div>
    </div>